/* ****** Custom Properties ****** */
:root {
  --first-color: rgba(81, 73, 57, 1);
  --first-color-alpha: rgba(67, 60, 47, 1);
  --text-color-link: rgba(81, 73, 57, 1);
  --text-color-title: rgba(242, 237, 225, 1);
  --text-color-content: rgba(0, 0, 0, 1);
  --font: "raleway", "sans-serif";
  --max-width: 1300px;
  --header-height: 4rem;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --white-alphaa-color: rgba(255, 255, 255, 0.8);
  --white-alphaaa-color: rgba(255, 255, 255, 0.6);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
}

/* ****** Reset ****** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--text-color-link);
  transition: all 0, 5s ease-out;
  text-decoration: none;
}

.empresa {
  color: var(--text-color-title);
}

a:hover {
  opacity: 0.55;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ****** Components ****** */

/* ****** Contact Form ****** */

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 70vh;
}

.contact-form > * {
  margin: 1rem auto;
  padding: 0.5rem;
  display: block;
  width: 100%;
}

.contact-form textarea,
.contact-form input {
  font-size: 0, 85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  border-bottom: thin solid var(--first-color);
  padding-left: 0;
}

.contact-form textarea {
  border: thin solid var(--first-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

.contact-form-responsive {
  padding: 2rem;
  width: 80vh;
  text-align: center;
  background-color: white;
}

/* ****** Carousel ****** */

.carousel {
  margin: 2rem auto;
  overflow-x: hidden;
  padding: 2rem 0;
  max-width: 50vh;
  text-align: center;
  background-color: var(--carousel-bg-color);
}

.carousel .slides {
  width: 400%;
  padding: 0;
  display: flex;
  list-style: none;
  transition: transform 0.5s ease-in-out;
}

.carousel input {
  display: none;
}

.carousel label {
  border: medium solid var(--first-color-alpha);
  border-radius: 50%;
  margin: 0 0.25rem;
  cursor: pointer;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
}

#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1 {
  background-color: var(--first-color-alpha);
}

#slide-2:checked ~ .slides-nav label#dot-2 {
  background-color: var(--first-color-alpha);
}

#slide-3:checked ~ .slides-nav label#dot-3 {
  background-color: var(--first-color-alpha);
}

#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: var(--first-color-alpha);
}

/* ****** Hero Image ****** */

.hero-image {
  background-image: var(--image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--opacity-color);
}

.hero-image-title {
  color: var(--hero-text-color);
  font-size: 5vw;
}

/* ****** Modal ****** */

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  opacity: 0;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="tipo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/* ****** Menu ****** */

.menu {
  position: fixed;
  left: 0%;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--first-color);
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu-btn {
  background-color: var(--first-color-alpha);
  border: 0;
  cursor: pointer;
}

.menu-btn svg {
  fill: var(--text-color-title);
  padding: 2px;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color-title);
}

.menu a:hover {
  background-color: var(--first-color-alpha);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
    width: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

/* ****** Utilities ****** */

.box-shadow-1 {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  background-color: var(--first-color);
  color: var(--text-color-title);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.section {
  padding: 2rem 1rem;
}

.slogan {
  text-align: center;
}

.colors-cont-1 {
  background-color: var(--first-color);
  color: var(--text-color-title);
}

.colors-cont-3 {
  background-color: var(--first-color-alpha);
  color: var(--first-color-alpha);
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.colors-cont-2 a {
  color: black;
  font-weight: bold;
}

.cont-1-titles {
  border-top: thin solid var(--text-color-title);
  border-bottom: thin solid var(--text-color-title);
  width: 250px;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 60vw;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cont-2-titles {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  color: var(--first-color);
  width: 250px;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

.acerca-img {
  width: 100%;
}

.cont-1-img {
  width: 100%;
  padding-top: 3rem;
}

.avatar {
  border-radius: 50%;
}

/* ****** Site Styles ****** */

.footer {
  margin-bottom: var(--header-height);
  text-align: center;
  padding: 0.5rem;
  color: aliceblue;
  background-color: var(--first-color);
}

.footer a {
  color: aliceblue;
}

.header {
  position: fixed;
  left: 0%;
  bottom: 0%;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  background-color: var(--first-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}

.tipos-de-cafe {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.tipos-de-cafe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tipo-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-alphaa-color);
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.tipos-de-cafe:hover .tipo-card-info {
  opacity: 1;
  pointer-events: auto;
}

.tipo-card-info > div {
  padding: 1rem;
  border: thin solid var(--first-color);
  width: 100%;
  height: 100%;
}

.cafe-modal {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
}

.cafe-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.cafe-modal h3 {
  border-bottom: medium solid var(--first-color);
  padding: 0.5rem 0;
}

.slides-imgs {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.text-first-color {
  color: var(--text-color-title);
  background-color: var(--first-color);
  margin-right: auto;
  margin-left: auto;
  max-width: 200px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-bottom: 0;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
  }

  .cont-1 {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
  }

  .container-full-lg-screen {
    width: 100%;
    min-height: 100vh;
    align-content: center;
  }

  .container-cont-2 {
    max-width: 1024px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .tipos-dee-cafe > .container-cont-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tipos-dee-cafe .cont-2-titles {
    grid-column: span 2;
  }

  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .cafe-modal {
    flex-direction: row;
    max-width: 900px;
  }

  .cafe-modal img {
    max-width: 400px;
  }

  .cafe-info {
    margin-left: 1rem;
  }
}
